/* ----------------- Classes ----------------- */

/* Général */

.italique
{
	font-style : italic;
}

.gras
{
	font-weight : bold;
}

.center
{
	text-align : center;
}

.float-left
{
	float : left;
}

.float-right
{
	float : right;
}

.height-270
{
	height : 270px;
}

/* Entête */

.reseau
{
	margin-top : 5px;
}

.reseaux
{
	margin-top : 12px;
}

.entete-img-ip
{
	max-width : 150px;
	line-height : 150px;
}

.entete-img-ipssi
{
	min-width : 40px;
	max-width : 100px;
	line-height : 150px;
	padding-left : 25px;
}

.entete
{
	background-color : rgb(12,23,45);
	height : 150px;
	width : 100%;
}

.entete-titre
{
	color : white;
	padding-top : 68px;
}

.entete-droite
{
	margin-top : 32px;
}

.entete-150
{
	line-height : 140px;
}

/* Accueil */

.btnActualiteAccueil
{
	background-color : rgb(59,82,152);
	line-height : 45px;
	color : white;
	font-weight : bold;
	padding-left : 10px;
	border-radius : 5px;
}

.imgActualiteAccueil
{
	width : auto;
	height : 270px;
}

.titreImgActualiteAccueil
{
	color : white;
	background-color : black;
	padding-top : 2px;
	padding-bottom : 2px;
	padding-left : 6px;
	padding-right : 6px;
	border-radius : 5px;
}

.lienBtnActualiteAccueil a
{
	color : white;
}

.lienBtnActualiteAccueil a:hover
{
	color : white;
	cursor : pointer;
}












